CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
build_web
.cache
.clang-tidy
.clang
compile_flags.txt
save.bin
saves
data
external
fonts
assets
highscore.bin
.clangd
